{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "syntax-export-extensions",
    "transform-export-extensions",
    "add-module-exports"
  ],
  "ignore": [
    "./src/assets/js/*"
  ]
}
